
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.h-screen {
  min-height: 100vh;
}

.flex-1 {
  flex: 1;
}

.flex-nav {
  flex: 0 0 4rem;
}

.flex-aside {
  flex: 0 0 12em;
}

.-order-1 {
  order: -1;
}

.overflow-scroll {
  overflow: scroll;
}

.fill-current {
  fill: currentColor;
}

.m-1\.5 {
  margin: 0.375rem !important
}